html{
    height: 100%;
    width: 100%;
    background: black;
}

body{
    margin: 3%;
    margin-left: 0.3%;
}

#interpreter-info{
    font-family: monospace;
    margin-bottom: 10px;
}

#container{
    font-family: monospace;
}

#interior {
    width: 100%;
    border-spacing: 0 15px;
}

tr :first-child{
    width: 5%;
}

tr :last-child{
    width: 95%;
}

textarea{
    color: white;
    background: transparent;
    width: 100%;
    font-family: monospace;
    overflow: hidden;
}
