html{
    height: 100%;
    width: 100%;
    background: black;
}

body{
    margin: 3%;
    margin-left: 0.3%;
}

#interpreter-info{
    font-family: monospace;
    margin-bottom: 10px;
}

#container{
    font-family: monospace;
}

#interior {
    width: 100%;
}
