html{
    height: 100%;
    width: 100%;
    background: black;
}

body{
    margin: 3%;
    margin-left: 0.3%;
}

#container{
    font-family: monospace;
}

#interior tr td:first-child{
    width: 10%;
}

#interior tr td:last-child{
    width: 90%;
}
