html{
    height: 100%;
    width: 100%;
}

body{
    padding: 1%;
}

#interpreter-info{
    font-family: monospace;
    top: 0;
    position: relative;
}

#container{
    margin-top: 1.5%;
    position: relative;
    font-family: monospace;
}

#interior {
    width: 100%;
}

#interior tr :first-child{
    width: 2%;
}

#interior tr :last-child{
    width: 98%;
}

#interior tr td p{
    white-space: pre-wrap;
}

#interior tr td textarea{
    padding: 1%;
    margin-left: 1%;
    -webkit-border-radius: 15px;
    width: 100%;
    overflow: hidden;
}

.paused {
    outline: none;
    border:1px solid yellow;
    box-shadow: 0 0 10px #719ECE;
}

*:focus {
    outline: none;
    border:1px solid green;
    box-shadow: 0 0 10px #719ECE;
}

hr {
    width: 90%;
    margin-left: 0;
    margin-top: 0;
}

h1{
    font-family: monospace;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.5%;
}

.options{
    margin-top: 1%;
    font-family: monospace;
    font-size: 1.25em;
}

.options input, select {
    margin-top: 1%;
    border-radius: 10px;
    width: 30%;
    margin-left: 0;
    padding: 1%;
    font-size: 0.75em;
    display: block;
}

.options input[type=checkbox]{
    height: 0;
	width: 0;
	visibility: hidden;
}

input[type=checkbox] + label {
	cursor: pointer;
	text-indent: -9999px;
	width: 75px;
	height: 40px;
	background: #b9bdba;
	display: block;
	border-radius: 100px;
	position: relative;
}

input[type=checkbox] + label:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40px;
	height: 40px;
	border-radius: 90px;
    background-color: #000;
	transition: 0.5s;
}

input:checked + label {
	background: #719ECE;
}

input:checked + label:after {
	left: calc(100%);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}

.options input:focus, select:focus {
     outline: none;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #151b24;
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
}

.final-setting{
    margin-bottom: 3%;
}

.white-back{
    color: black;
    background-color: #ffffff;
}

.white-fore{
    color: black;
    background-color: #ebe9e4;
}

.black-back{
    color: white;
    background-color: #151b24;
}

.black-fore{
    color: white;
    background-color: #222d3d
}

.console-small{
    font-size:  10pt;
}

.console-medium{
    font-size:  13pt;
}

.console-large{
    font-size:  16pt;
}

.h1-small{
    font-size:  1.75em;
}

.h1-medium{
    font-size:  2em;
}

.h1-large{
    font-size:  2.25em;
}

.options-small{
    font-size:  1em;
}

.options-medium{
    font-size:  1.25em;
}

.options-large{
    font-size:  1.5em;
}
